@{
  Layout="_Layout";
}
<br>
<div class="container-fluid">
<h2>Add new stylist</h2>
<hr />
<div class ="form-group">
  <form action="/stylists" method="post">
    <label for="stylist-name">Stylist Name:</label>
    <input id="stylist-name" name="stylist-name" type="text">
    <label for="stylist-rate">Stylist Hourly Rate:</label>
    <input id="stylist-rate" name="stylist-rate" type="text">
    <hr>
    <button type="submit" class="btn btn-primary btn-active" role="button" aria-pressed="true>">Add Stylist</button>
  </div>
  </div>
</form>
