@{
  Layout="_Layout";
}

<div class="container-fluid">
<h2>Add new Specialty</h2>
<hr />
<div class ="form-group">
  <form action="/specialties" method="post">
    <label for="specialty">Specialty:</label>
    <input id="specialty" name="specialty" type="text">
    <hr>
    <button type="submit" class="btn btn-primary btn-active" role="button" aria-pressed="true>">Add Specialty</button>
  </div>
</form>
</div>
