@{
  Layout = "_Layout";
}
<div class="container-fluid">
<hr />
<h2>Edit Specialty: @Model.GetSpecialty()</h2>
<form action="/specialties/@Model.GetSpecialtyId()/update" method="post">
  <label for="specialty">Specialty:</label>
  <input type="text" name="specialty" value="@Model.GetSpecialty()">
  <button type="submit">Update Specialty Info</button>
</form>
<br>
<h4><a href="/specialties">Back to Specialty List</a></h4>
</div>
