@{
  Layout="_Layout";
}
    <h3>Add a new Stylist:</h3>
    <hr>
<form action="/stylists" method="post">
  <label for="new-stylist">Stylist Name</label>
  <input id="new-stylist" name="new-stylist" type="text">
  <button type="submit" name="button">Add Stylist</button>
</form>
