@{
  Layout="_Layout";
}
<div class="jumbotron jumbotron-fluid">
  <h2>Snappy Snips</h2>
  <hr width=50% id="jumbo">
  <p>A Cut Above</p>
</div>
<div class="container-fluid">
  <div class = "row">
    <div class="col-4 img-fluid" >
      <img class="img" src="~/img/img1.jpg" alt="picture of hair">
    </div>
    <div class="col-4 img-fluid" >
      <img class="img" src="~/img/img2.jpg" alt="picture of hair">
    </div>
    <div class="col-4 img-fluid" >
      <img class="img" src="~/img/img3.jpg" alt="picture of hair">
    </div>
  </div>

</div>
