@{
  Layout="_Layout";
}

        <h1>@Model["stylist"].GetName()'s Client List</h1>
        <hr>
        <ul>
          @foreach(var client in Model["clients"])
          {
            <li><p>@client.GetName()</p></li>
          }
        </ul>
        <a href="/clients/new/@Model["stylist"].GetId()">Add new client.</a>
        <br>
        <br>

        <form action="/clients/delete" method="post">
        <button class="btn btn-danger" type="submit" name="button">Clear All Clients</button>
        </form>
        <br>
        <h4><a href="/">Return home</a></h4>
