@{
  Layout="_Layout";
}
<br>
<div class="container-fluid">

<h3> Client List</h3>
  <hr>
@if (Model.Count != 0)
{
  <ul class="list-group">
    @foreach (var client in Model)
    {
      <li class="list-group-item">@client.GetName() -      <a href="/clients/@client.GetId()/update">Edit</a> | <a href="/clients/@client.GetId()/delete">Delete</a></li>
    }
  </ul>
}
<br>
<hr>
<br>


</div>
