@{
  Layout = "_Layout";
}
<div class="container-fluid">
<hr />
<h2>Edit Client: @Model.GetName()</h2>
<form action="/clients/@Model.GetId()/update" method="post">
  <label for="new-client-name">Client Name:</label>
  <input type="text" name="new-client-name" value="@Model.GetName()">
  <button type="submit">Update</button>
</form>
<hr>
<h4><a href="/stylists">Back to Client List</a></h4>
</div>
